{% extends 'padre.html' %}

{% block cambiante %}
    

    <h1>En esta sección hablaremos un poco de nosotros:</h1>
    <h3>Eduardo Abreu:</h3>
    <p>Actualmennte me encuentro trabajando como QA Tester, el objetivo de realizar este curso es aprender los conocimientos de
       de un lenguaje de progtramación ya que no contaba con conocimientos algunos referente a esto. Al darme cuenta que el mismo
       esta orientado al desarrollo WEB, se me abrieron otras opciones que no contemplaba antes de empezarlo.
    </p>

        



{% endblock cambiante %}