{% extends 'padre.html' %}

{% block cambiante %}
    

    <h1>En esta sección hablaremos un poco de nosotros:</h1>
    <h2>Eduardo Abreu:</h2>
        <h6>Actualmennte me encuentro trabajando como QA Tester, el objetivo de realizar este curso es aprender los conocimientos de
           de un lenguaje de programación ya que no contaba con conocimientos algunos referente a esto. Al darme cuenta que el mismo
           esta orientado al desarrollo WEB, se me abrieron otras opciones que no contemplaba antes de empezarlo.
        </h6>
<br>

    <br>
    <br>
    <br>
    <h2>Axl Peñaloza:<h2>
        <h6>Actualmente estoy trabajando de encargado en un local de accesorios para celulares, de ahi la idea de hacer este proyecto.
           Hice este curso con la finalidad de expandir mis conocimientos en el campo de la programación, ya que tenía un poco de experiencia 
           en C++.
        </h6>


        



{% endblock cambiante %}