{% extends 'padre.html' %}



{% block cambiante %}
   
<p class="text-white m-8">

    <h1>ADMINISTRADOR</h1>
    <br>
    <a class="btn btn-primary" href="{% url 'ListaCelulares' %}" role="button">Administrar Celulares</a>

    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'ListaAccesorios' %}" role="button">Administrar Accesorio</a>
    
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'FundasLista' %}" role="button">Administrar Fundas</a>
    
</p>
{% endblock cambiante %}
    