{% extends 'padre.html' %}



{% block cambiante %}
<div class="text-center">
    <h1>PANEL ADMINISTRADOR</h1>
    <br>
    <h2>SECCIÓN CELULARES</h2>
        <p>{{mensaje_celular}}</p>
    <p>Aqui podemos agregar <!--o eliminar--> Celulares de nuestro Stock</p>
    <br>
    <br>
    <form action="{% url 'AdministradorCelulares' %}" method="post">{% csrf_token %}

        {{agregarCelular.as_p}}

        
        <button type="submit" class="btn btn-primary">Agregar Celular</button>


    </form>

 <br>
    <a class="btn btn-primary" href="{% url 'ListaCelulares' %}" role="button">Lista Celulares</a>

   </div>
{% endblock cambiante %}
    