{% extends 'padre.html' %}



{% block cambiante %}

    <h1>PANEL ADMINISTRADOR</h1>
    <br>
    <h2>SECCIÓN CELULARES</h2>
        <p>{{mensaje_celular}}</p>
    <p>Aqui podemos agregar <!--o eliminar--> Celulares de nuestro Stock</p>
    <br>
    <br>
    <form action="{% url 'AdministradorCelulares' %}" method="post">{% csrf_token %}

        {{agregarCelular.as_p}}

        <button type="submit">Agregar Celular</button>

    </form>

    <a href="{% url 'ListaCelulares' %}">Lista Celulares</a>
   
{% endblock cambiante %}
    