<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="\static\img\celtech.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Cel-Tech</h1>
            <p>Aqui podemos Hablar un poco de la empresa o de nosotros como desarrolladores y usar el boton para ir al about us </p>
            <a class="btn btn-primary" href="#!">About Us...</a>
        </div>
    </div>