{% extends 'padre.html' %}

{% block cambiante %}
    <h1>Lista de Fundas</h1>    
    <ul>
        
        {% for funda in fundaslist  %}
            <li>{{funda}}</li>    
            <div>
                <button>
                    <a style="color:black" href="{% url 'FundasEliminar' funda.id %}">Eliminar Funda</a>
                </button>
                <button>
                    <a style="color:black" href="{% url 'FundasActualizar' funda.id %}">Editar Funda</a>
                </button>
            </div>         
        {% endfor %}
            
            
    </ul>

    <a style="color:black" href="{% url 'FundasCrear' %}">Agregar Funda</a>
{% endblock cambiante %}
    