{% extends 'padre.html' %}

{% block cambiante %}
    <h1>Lista de Fundas</h1>    
    <ul>
        <p>{{mensaje_funda}}</p>
        {% for funda in lista_fundas  %}
            <li>{{funda}}</li>    
            <div>
                <form action="{% url 'EliminarFunda' funda.id %}" method="post">{% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
                <button>
                    <a style="color:black" href="{% url 'EditarFunda' funda.id %}">Editar Funda</a>
                </button>
            </div>         
        {% endfor %}
            
            
    </ul>

    <a style="color:black" href="{% url 'AdministradorFundas' %}">Agregar Funda</a>
{% endblock cambiante %}
    