{% extends 'padre.html' %}

{% block cambiante %}
    <h1>Lista de Celulares</h1>    
    <ul>
        <p>{{mensaje_celular}}</p>   
        {% for celular in lista_celulares  %}
            <li>{{celular}}</li> 
            <div>
                <form action="{% url 'EliminarCelular' celular.id %}" method="post">{% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
                <button>
                    <a style="color:black" href="{% url 'EditarCelular' celular.id %}">Editar Celular</a>
                </button>
            </div>           
        {% endfor %}
          
            
    </ul>

    <a style="color:black" href="{% url 'AdministradorCelulares' %}">Agregar Celular</a>
    <br>
    


{% endblock cambiante %}
    