{% extends 'padre.html' %}

<!-- ////// ESTE HTML MUESTRA EL RESULTADO DE LA BUSQUEDA DE FUNDAS Y CELULARES POR MODELO///// -->
{% block cambiante %}
 <div class="text-center">  
   
   <h1>Resultado de la Busqueda</h1>
<br>
<p>{{mc}}</p>

<!-- ////MUESTRA CELULARES Y FUNDAS//// -->
   {% if celulares and fundas %}
      <h2>Modelos de Celulares:</h2> 

      {% for celular in celulares %}
         <li>
         
            <div class="card mb-3" style="max-width: 700px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="\static\img\phone4.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: darkslategrey;">{{celular.marca}} - {{celular.modelo}}</h5>
          <p class="card-text" style="color: midnightblue;" > precio: ${{celular.precio}}</p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
          <a class="btn btn-primary" href="{% url 'carrito'  %}" role="button">Añadir a Carrito</a>

          
        
        </div>
      </div>
    </div>
  </div>
      </li>
         {% endfor %}  

         <h2>Modelos de Fundas: </h2>

         {% for funda  in fundas %}
         <li>

              <div class="card mb-3" style="max-width: 700px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="\static\img\case2.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: darkslategrey;">{{funda.modelo}} - {{funda.tipo}}</h5>
          <p class="card-text" style="color: midnightblue;" > precio: ${{funda.precio}}</p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
          <a class="btn btn-primary" href="{% url 'carrito'  %}" role="button">Añadir a Carrito</a>

          
        
        </div>
      </div>
    </div>
  </div>
         </li>   
         {% endfor %}

   
   <!-- ///MUESTRA SOLO CELULARES/// -->
   
   {%  elif  celulares %}
 
   <h2>Modelos de Celulares:</h2>

   

   {% for celular in celulares  %}
   <li>
      <div class="card mb-3" style="max-width: 700px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="\static\img\phone4.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: darkslategrey;">{{celular.marca}} - {{celular.modelo}}</h5>
          <p class="card-text" style="color: midnightblue;" > precio: ${{celular.precio}}</p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
          <a class="btn btn-primary" href="{% url 'carrito'  %}" role="button">Añadir a Carrito</a>

          
        
        </div>
      </div>
    </div>
  </div>
   </li>   

   <h2>Modelos de Fundas :</h2>
   
   <p>No hay fundas compatibles con el modelo que buscaste</p>
   {% endfor %}
   
<!-- //// MUESTRA SOLO FUNDAS/// -->
{% elif fundas %}
 
   <h2>Modelo de Celulares: </h2>
   
   <p>No hay Modelos Disponibles</p>      

   <h2>Modelos de Fundas:</h2>

   {% for funda in fundas  %}
   <li>
       <div class="card mb-3" style="max-width: 700px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="\static\img\case2.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: darkslategrey;">{{funda.modelo}} - {{funda.tipo}}</h5>
          <p class="card-text" style="color: midnightblue;" > precio: ${{funda.precio}}</p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
          <a class="btn btn-primary" href="{% url 'carrito'  %}" role="button">Añadir a Carrito</a>

          
        
        </div>
      </div>
    </div>
  </div>
   </li>   
   {% endfor %}


   

            
{% endif %}
         







   
   <br>

<a class="btn btn-primary" href="{% url 'buscarCF' %}" role="button">Buscar de nuevo</a>

</div>





   


</div>
     
{% endblock cambiante %}

   

