{% extends 'padre.html' %}

<!-- ////// ESTE HTML MUESTRA EL RESULTADO DE LA BUSQUEDA DE FUNDAS Y CELULARES POR MODELO///// -->
{% block cambiante %}
 <div class="text-center">  
   
   <h1>Resultado de la Busqueda</h1>
<br>
<p>{{mc}}</p>

<!-- ////MUESTRA CELULARES Y FUNDAS//// -->
   {% if celulares and fundas %}
      <h2>Modelos de Celulares:</h2> 

      {% for celulares in celulares %}
         <li>
         {{celulares.marca}} --- {{celulares.modelo}} -- ${{celulares.precio}}
      </li>
         {% endfor %}  

         <h2>Modelos de Fundas: </h2>

         {% for funda  in fundas %}
         <li>

            {{funda.modelo}} --- {{funda.tipo}} --- ${{funda.precio}}
         </li>   
         {% endfor %}

   
   <!-- ///MUESTRA SOLO CELULARES/// -->
   
   {%  elif  celulares %}
 
   <h2>Modelos de Celulares:</h2>

   

   {% for celulares in celulares  %}
   <li>
      {{celulares.marca}} - {{celulares.modelo}} -- ${{celulares.precio}}

   </li>   

   <h2>Modelos de Fundas :</h2>
   
   <p>No hay fundas compatibles con el modelo que buscaste</p>
   {% endfor %}
   
<!-- //// MUESTRA SOLO FUNDAS/// -->
{% elif fundas %}
 
   <h2>Modelo de Celulares: </h2>
   
   <p>No hay Fundas Disponibles</p>      

   <h2>Modelos de Fundas:</h2>

   {% for funda in fundas  %}
   <li>
      {{funda.modelo}} - {{funda.tipo}} --${{funda.precio}}

   </li>   
   {% endfor %}


   

            
{% endif %}
         







   
   <br>

<a class="btn btn-primary" href="{% url 'buscarCF' %}" role="button">Buscar de nuevo</a>

</div>





   


</div>
     
{% endblock cambiante %}

   

